{
//  "presets" :["env", "react",["@emotion/babel-preset-css-prop",
//    {
//      "sourceMap": false
//    }]],
  "presets" :["env", "react"],
  "plugins":["emotion", "transform-inline-environment-variables", "transform-class-properties"]
}
